body {
    font-family: financier;
    background-color: #fff1e0;
    padding-top: 70px;
}

a, a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.btn {
    margin-left: 20px;
}

.page-header {
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
}

.footer {
    background-color: #8F223A;
    color: white;
}

.headerPortal {
  background-color: black;
  color: white;
}
